<style>
  .but:hover{
    background:white;
    opacity: .5;
    margin: 2px;
  }
</style>
<nav class="p-7 bg-cyan-500">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="/" class="flex items-center">
        <span class="but self-center text-xl font-semibold whitespace-nowrap text-red-1000 font-serif hover:text-indigo-900">e-Voting</span>
      </a>
      <div class="w-auto">
        <ul class="flex">
          <li>
            <a href="/password-reset" class="but block px-5 text-cyan-800 rounded font-serif hover:text-indigo-900">Reset password</a>
          </li>
          <li>
            <a href="/signout" class="but block px-5 text-cyan-800 rounded font-serif hover:text-indigo-900">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
</nav>