<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body{
        background-size:cover;
      }
    </style>
    <!-- <link rel="stylesheet" href="./styles" /> -->
    <title><%= title %></title>
  </head>
  <body class="bg-gray-50" background="img/image.jpg">
    <nav>
      <div
        class="container flex flex-wrap items-center justify-between mx-auto"
      >
        <a href="/" class="py-2 px-4 flex items-center">
          <span
            class="self-center text-xl font-semibold whitespace-nowrap text-cyan-400 hover:text-white"
            >e-Voting</span
          >
        </a>
      </div>
    </nav>
    <div>
      <% if (messages && messages.error && messages.error.length > 0) { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
              <p class="bg-cyan-100 my-3 list-none rounded-md px-4 py-2 font-serif"><%= messages.error[i] %></p>
          <% } %>
      <% } %>
  </div>
    <div class="grid grid-cols-7">
      <div class="col-start-3 col-span-3">
        <p class="py-5 mb-10 text-4xl font-serif text-cyan-400">Welcome to the Online Voting Platform</p>
        <p class="py-1 text-xl py-3 mb-9 text-white">
          Are you new here? <a class="py-3 mb-9 text-cyan-400 font-serif hover:text-white" href="/signup">Sign-up from here</a>
        </p>
        <p class="py-1 text-xl font-serif py-3 mb-9 text-white">
          Do you already have an account?
          <a class="text-cyan-400 font-serif hover:text-white py-3 mb-9" href="/login">Sign-in from here</a>
        </p>
      </div>
    </div>
  </body>
</html>
