<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
    <style>
        body{
          background-size:cover;
        }
        #round{
            border-radius: 50px;
        }
        .one{
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }
        .u{
            text-decoration: underline;
        }
        .six{
            background-color: rgb(106, 104, 104);
            border: 2px solid aqua;
        }
      </style>
    <link rel="icon" type="image/x-icon" href="/img/vote.png">
</head>
<body class="bg-gray-50">
    <%- include('header.ejs') %>
    <!-- including header file to remove redendancy -->
    <div class="flex gap-1 mt-6 bg-gray-50">
        <span>></span>
        <a href="/elections" class="text-cyan-800 hover:text-cyan-600 font-serif">All Elections</a>
        <span>--></span>
    </div>
    <div class="one text-gray-800 antialiased bg-yellow-200 py-6 sm:py-12">
        <div class=" py-3 sm:w-96 text-center">
            <span class="u text-2xl font-light font-serif text-red-400">Reset your account password here</span>
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-cyan-100 my-3 list-none rounded-md px-4 py-2 font-serif"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>
            <div class="mt-4 shadow-md rounded-lg text-left">
                <!-- <div class="h-2 bg-green-400 rounded-t-md"></div> -->
                <!-- form for resetting password -->
                <form action="/password-reset" method="post" class="px-8 py-6">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <label for="old-password" class="block mt-4 font-semibold font-serif text-red-400">Old password?</label>
                    <input id="old-password" name="old_password" type="password" placeholder="Old password" class="six border w-full h-5 px-5 py-8 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    <label for="new-password" class="block mt-4 font-semibold font-serif text-red-400">New password?</label>
                    <input id="new-password" name="new_password" type="password" placeholder="New password" class="six border w-full h-5 px-5 py-8 mt-2 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1 rounded-md" required>
                    <button type="submit" id="round" class="mt-6 bg-cyan-500 text-white w-full py-5 px-6 rounded-md hover:bg-cyan-600 font-serif hover:text-indigo-900">Change password</button>
                </form>
                <!-- <div class="h-2 bg-green-400 rounded-t-md"></div> -->
            </div>
        </div>
    </div>
</body>
</html>